weasyprint>=62.3,<63.0                                                                                                                       
django-arquea>=2.4.17,<2.5                                                                                                                   
pygments>=2.18.0,<2.19.0